<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Organ Donor</title>
    <link " type=" text/css" href="css/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/67c9249345.js" crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style=" background-color:transparent">
        <div class=" container-fluid">
            <a class="navbar-brand"><i class="fas fa-heartbeat"></i> Organ Donor</a>
            <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="my-nav" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/about">About</a>
                    </li>
                    <% if(CurrentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link " href="/donor/show">Donors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/donor/new">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/donor/show/User">Entries By You</a>
                    </li>
                    <% } %>
                </ul>
                <ul class="nav justify-content-end">
                    <% if(!CurrentUser) { %>

                    <li class="nav-item">
                        <a class="nav-link" href="/register"><i class="fas fa-user-plus"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i></a>
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><%= CurrentUser.username %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </li>
                    <% } %>
            </div>
        </div>
    </nav>