<%- include  ('partials/header.ejs') -%>


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Organ Donor</h1>
        <p class="lead">Register today to live after your death</p>
        <hr class="my-4">
        <p>This is a Web Application where you can Resister yourself to donate your organs</p>
        <a name="" id="" class="btn btn-primary" href="/register" role="button">Register</a>
    </div>
</div>


<%- include ('partials/footer.ejs')-%>