.container {
    margin-top: 1%;
    background: transparent;
}

.rounded-circle {
    height: 250px;
    width: 230px;
}

.card {
    margin: 0 auto;
    height: 400px;
    width: 450px;
    padding: 0px;
}

.card form {
    padding: 0px;
    margin: 0px;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #eef2f3, #8e9eab);
}

.jumbotron {
    background: #283048;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #859398, #283048);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #859398, #283048);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

table {
    border-radius: 2mm;
    text-align: center;
}


.fa-exclamation-triangle {
    color: green;
}

fa-exclamation-triangle:hover {
    color: red;
}

#delete button {
    padding-top: 0px;
}

#delete {
    height: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin: 0px;
}
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

li  form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background:#007bff;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

li input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

#search{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

li form:hover{
    width: 200px;
    cursor: pointer;
}

li form:hover input{
    display: block;
}

li form:hover .fa{
    background: #07051a;
    color: white;
}

.cd-headline.rotate-1 .cd-words-wrapper {
    display: inline-block;
    perspective: 300px;
  }
  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
  }
  .cd-headline.rotate-1 b {
    opacity: 0;
    transform-origin: 50% 100%;
    transform: rotateX(180deg);
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .cd-headline.rotate-1 b.is-visible {
    position: relative;
    opacity: 1;
    transform: rotateX(0deg);
    animation: cd-rotate-1-in 1.2s;
  }
  
  .cd-headline.rotate-1 b.is-hidden {
    transform: rotateX(180deg);
    animation: cd-rotate-1-out 1.2s;
  }
  @keyframes cd-rotate-1-in {
    0% {
      transform: rotateX(180deg);
      opacity: 0;
    }
    35% {
      transform: rotateX(120deg);
      opacity: 0;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      opacity: 1;
    }
  }
  
  @keyframes cd-rotate-1-out {
    0% {
      transform: rotateX(0deg);
      opacity: 1;
    }
    35% {
      transform: rotateX(-40deg);
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 0;
    }
  }